<p-toast></p-toast>
<p-toolbar styleClass="mb-4 gap-2">
  <ng-template pTemplate="left">
      <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
              placeholder="Search..." />
      </span>

  </ng-template>

  <ng-template pTemplate="right">
      <p-button (click)="showCreateNewProjectDialog()" icon="pi pi-plus" label="Holiday"
          styleClass="p-button-warning px-3 py-2 mb-md-1">
      </p-button>
  </ng-template>
</p-toolbar>
<c-card class="mb-4">
  <c-card-header>Holiday Master</c-card-header>
  <c-card-body class="px-3">

      <div class="card">
          <p-table #dt [value]="AllHolidayData" [rows]="10" [paginator]="true"
              [globalFilterFields]="['holiday_id','name','holiday_date','description','isactive']"
              dataKey="id" editMode="row" [tableStyle]="{'min-width': '50rem'}" [rowHover]="true"
              currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
              [showCurrentPageReport]="true">
              <ng-template pTemplate="header">
                  <tr>
                     
                      <th> Holiday Name
                      </th>
                      <th>Holiday Date
                      </th>
                      <th>Description
                      </th>
                    
                      
                      <th style="width:2rem !important">Action</th>
                  </tr>
                  
              </ng-template>
              <ng-template pTemplate="body" let-AllHolidayData let-editing="editing" let-ri="rowIndex">
                  <tr [pEditableRow]="AllHolidayData">
                   
                      <td>
                          {{AllHolidayData.name}}
                      </td>
                      <td>
                          {{AllHolidayData.holiday_date| date:'dd/MM/yyyy'}}
                      </td>
                      <td>
                        {{AllHolidayData.description}}
                    </td>
                  
                      <td>
                          <div class="flex align-items-center justify-content-center gap-2">
                              <button pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                                  (click)="editholidays(AllHolidayData)"
                                  class="p-button-rounded p-button-text"></button>
                          </div>
                      </td>
                  </tr>
              </ng-template>
          </p-table>
      </div>

  </c-card-body>
</c-card>

<p-dialog header="Holiday Master" [(visible)]="projectDialog" [breakpoints]="{'960px': '75vw'}" (onHide)="Cancel_form()"
    [style]="{width: '70vw'}" [draggable]="false" [resizable]="false" class="pb-2"  [modal]="true">
    <form [formGroup]="ProjectForm" (submit)="submit()">
        <c-row class="">

          <c-col sm="12" md="4" lg="4" class="mb-3">
            <label>Holiday Date</label>
            <p-calendar [style]="{'minWidth':'100%'}" [showIcon]="true" appendTo="body"
                placeholder="Holiday Date" inputId="icon" name="startDate" formControlName="startDate">
            </p-calendar>
        </c-col>

        
            
      
            <c-col sm="12" md="4" lg="4" class="mb-3">
                <div *ngIf="flag==1">
                <label>Holiday Name</label>
                <p-dropdown [options]="Holidays" [style]="{'minWidth':'100%'}" optionValue="typeid"
                    optionLabel="name" [filter]="true" filterBy="name" [showClear]="true" appendTo="body"
                    placeholder="HolidayName*" (onChange)="changeholidayId($event)" required
                    formControlName="HolidayName">
                </p-dropdown>
            </div>

            
            <div *ngIf="flag==0">
                <label>Holiday Name</label>
                  <input type="text" class="w-full" placeholder="Holiday Desc*" pInputText required
                      formControlName="HolidayName" />
                  <small *ngIf="ProjectForm.controls['HolidayName'].touched && ProjectForm.controls['HolidayName'].invalid"
                      class="p-error block">
                      <span *ngIf="ProjectForm.controls['HolidayName'].errors">This field is mandatory.</span>
                  </small>
            </div>
  
            </c-col>


            <c-col sm="12" md="4" lg="4" class="mb-3">
              <label>Holiday Description</label>
                <input type="text" class="w-full" placeholder="Holiday Desc*" pInputText required
                    formControlName="HolidayDesc" />
                <small *ngIf="ProjectForm.controls['HolidayDesc'].touched && ProjectForm.controls['HolidayDesc'].invalid"
                    class="p-error block">
                    <span *ngIf="ProjectForm.controls['HolidayDesc'].errors">This field is mandatory.</span>
                </small>
            </c-col>

           <c-col sm="12" md="12" lg="12">
              <label>Status</label>
              <div class="field-radiobutton">
                  <p-radioButton value="true" formControlName="PrjActive" required></p-radioButton>
                  <label for="Active">Active</label>
                  <span class="px-3"></span>
                  
                  <p-radioButton value="false" formControlName="PrjActive" required>
                  </p-radioButton>
                  <label for="InActive">In Active</label>
              </div>
              <small class="p-error block"
                  *ngIf="ProjectForm.controls['PrjActive'].touched && ProjectForm.controls['PrjActive'].invalid">
                  <span *ngIf="ProjectForm.controls['PrjActive'].errors">This field is mandatory.</span>
              </small>
          </c-col>

            
            <c-col>
                <p-button *ngIf="showSaveBtn" type="submit" [disabled]="!ProjectForm.valid" (click)="saveHolidays()"
                    label="Save" styleClass="p-button-warning px-3 py-2"></p-button>
                <p-button *ngIf="!showSaveBtn" type="submit" [disabled]="!ProjectForm.valid" (click)="UpdateHolidays()"
                    label="Update" styleClass="p-button-warning px-3 py-2"></p-button>
                <p-button (click)="projectDialog=false" (click)="Cancel_form()" label="Back" styleClass="p-button-text pb-2"></p-button>
            </c-col>

        </c-row>
    </form>

</p-dialog>


  
  