
<p-toast></p-toast>
<!-- <div class="card"> -->
<p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="left">
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                placeholder="Search..." />
        </span>

    </ng-template>

    <ng-template pTemplate="right">
        <p-button (click)="showCreateNewProjectDialog()" icon="pi pi-plus" label="Create"
            styleClass="p-button-warning px-3 py-2 mb-md-1">
        </p-button>
    </ng-template>
</p-toolbar>

<c-card class="mb-4">
    <c-card-header>General Master</c-card-header>
    <c-card-body class="px-3">

        <div class="card">
            <p-table #dt [value]="SelectedProjectNames" [rows]="10" [paginator]="true"
                [globalFilterFields]="[ 'groupname', 'name']"
                dataKey="id" editMode="row" [tableStyle]="{'min-width': '50rem'}" [rowHover]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [showCurrentPageReport]="true">
                <ng-template pTemplate="header">
                    <tr>
                        <!-- <th style="width:2rem !important">Group Name
                        </th> -->
                        <th>Group Name
                        </th>
                        <th>Name
                        </th>
                        <!-- <th>Type ID
                        </th>
                        <th>Seq ID
                        </th>
                        <th>Parent ID
                        </th>                         -->
                        <th style="width:2rem !important">Action</th>
                    </tr>
                   
                </ng-template>
                <ng-template pTemplate="body" let-SelectedProject let-editing="editing" let-ri="rowIndex">
                    <tr [pEditableRow]="SelectedProject">
                        <td>
                            {{SelectedProject.groupname }}
                        </td>
                        <td>
                            {{SelectedProject.name}}
                        </td>
                        <!-- <td>
                            {{SelectedProject.typeid}}
                        </td>
                        <td>
                            {{SelectedProject.seqorder}}
                        </td>
                        <td>
                            {{SelectedProject.parentid}}
                        </td>                        -->
                        <td>
                            <div class="flex align-items-center justify-content-center gap-2">
                                <button pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                                    (click)="editGeneral(SelectedProject)"
                                    class="p-button-rounded p-button-text"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

    </c-card-body>
</c-card>

<!-- </div> -->




<p-dialog header="General Master" [(visible)]="generalDialog" [breakpoints]="{'960px': '75vw'}" (onHide)="Cancel_form()"
    [style]="{width: '70vw'}" [draggable]="false" [resizable]="false" class="pb-2"  [modal]="true">
    <form [formGroup]="GeneralMasterForm" (submit)="submit()">
        <c-row class="">

            <c-col sm="12" md="4" lg="4" class="mb-3">
                <label class="pb-2">Group Name</label>
                <p-dropdown [options]="getGroupId" [style]="{'minWidth':'100%'}" optionValue="groupname" optionLabel="groupname"
                    [filter]="true" filterBy="groupname" [showClear]="true"
                    (onChange)="getParentId($event)"
                    placeholder="Group Name*" class=""
                    required formControlName="GrpName" appendTo="body" [disabled]="isdisabled">
                </p-dropdown>
                <small *ngIf="GeneralMasterForm.controls['GrpName'].touched && GeneralMasterForm.controls['GrpName'].invalid"
                    class="p-error block">
                    <span *ngIf="GeneralMasterForm.controls['GrpName'].errors">This field is mandatory.</span>
                </small>
            </c-col>
         <br>
         <br>

         <c-col sm="12" md="4" lg="4" class="mb-3">
            <label class="pb-2">Name</label>
            <input type="text" class="w-full" placeholder="Name*" pInputText required
                formControlName="Name" />
            <small *ngIf="GeneralMasterForm.controls['Name'].touched && GeneralMasterForm.controls['Name'].invalid"
                class="p-error block">
                <span *ngIf="GeneralMasterForm.controls['Name'].errors">This field is mandatory.</span>
            </small>
        </c-col>

        <c-col sm="12" md="4" lg="4" class="mb-3">
            <label class="pb-2">Parent Id</label>
            <input type="text" class="w-full" placeholder="Parant Id*" [(ngModel)]="grpId" optionValue="grpId"  pInputText required
                formControlName="ParantId" readonly />
            <small *ngIf="GeneralMasterForm.controls['ParantId'].touched && GeneralMasterForm.controls['ParantId'].invalid"
                class="p-error block">
                <span *ngIf="GeneralMasterForm.controls['ParantId'].errors">This field is mandatory.</span>
            </small>
        </c-col>
            <c-col>
                <p-button *ngIf="showSaveBtn" type="submit" [disabled]="!GeneralMasterForm.valid" (click)="SaveGeneralMstDetails()"
                    label="Save" styleClass="p-button-warning px-3 py-2"></p-button>
                <p-button *ngIf="!showSaveBtn" type="submit" [disabled]="!GeneralMasterForm.valid" (click)="UpdateGeneralMstDetails()"
                    label="Update" styleClass="p-button-warning px-3 py-2"></p-button>
                <p-button (click)="generalDialog=false" (click)="Cancel_form()" label="Back" styleClass="p-button-text pb-2"></p-button>
                <!-- <p-button (click)="GeneralMasterForm.resetForm()" (click)="timesheetform.resetForm()"
                    (click)="createTaskDialog=false" label="Back" styleClass="p-button-text pb-2"></p-button> -->

            </c-col>

        </c-row>
    </form>

</p-dialog>










<!-- <div class="form-container">
    <div *ngIf="isCreate" class="">
        <div class="container">
            <mat-card>
                <mat-card-title>
                    Genaral Master
                    <button class="btn-close btn-close-white" aria-label="Close" (click)="Cancel()"></button>
                </mat-card-title>

                <div>
                    <form [formGroup]="GeneralmasterForm" (submit)="submit()">
                        <div class="row">
                            <mat-form-field class="form-field">
                                <mat-label> Group Name </mat-label>
                                <input matInput>
                                <ng-select formControlName="GrpName" placeholder="select Group name"
                                    [(ngModel)]="selectedItemGroupName" (change)="OnChangeGroupNameDetails($event)"
                                    (change)="getParentId($event)" ngSelectMat appendTo="body" bindLabel="groupname"
                                    [items]="getGroupId">

                                </ng-select>
                                <mat-error *ngIf="GrpName?.hasError('required')">
                                    GeneralmasterForm is required
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="row">
                            <mat-form-field class="form-field" appearance="outline">
                                <mat-label> Name
                                </mat-label>
                                <input matInput formControlName="Name" required>
                                <mat-error
                                    *ngIf="GeneralmasterForm.controls['Name'].touched && GeneralmasterForm.controls['Name'].invalid">
                                    <span *ngIf="GeneralmasterForm.controls['Name'].errors">This field is
                                        mandatory.</span>
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field class="form-field" appearance="outline">
                                <mat-label> Parent Id
                                </mat-label>

                                <input *ngIf="grpId != null || grpId != 0" matInput placeholder=" " readonly
                                    value="{{grpId}}">

                                <mat-error
                                    *ngIf="GeneralmasterForm.controls['ParantId'].touched && GeneralmasterForm.controls['ParantId'].invalid">
                                    <span *ngIf="GeneralmasterForm.controls['ParantId'].errors">This field is
                                        mandatory.</span>
                                </mat-error>
                            </mat-form-field>


                            <div class="col-12 col-md-12">
                                <mat-form-field fxFlex="0 0 calc(85%-15px)" fxFlex.sm="0 0 100%" fxFlex.xs="0 0 100%"
                                    appearance="fill" appearance="standard">
                                    <mat-label class="filter">Filter</mat-label>
                                    <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input>
                                </mat-form-field>
                                <ng-container>
                                    <button type="button" class="btn btn-success" (click)="onSave()">Save</button>&nbsp;
                                    <button type="button" class="btn btn-primary" (click)="OnBack()">Cancel</button>
                                </ng-container>
                            </div>
                        </div>


                    </form>
                </div>
            </mat-card>
        </div>
    </div>
    <div *ngIf="isViewable" class="">
        <div class="container">
            <mat-card>
                <mat-card-title>
                    Genaral Master
                    <button class="btn-close btn-close-white" aria-label="Close" (click)="Cancel()"></button>
                </mat-card-title>
                <div class="" style="margin: 20px;">
                    <form [formGroup]="GeneralmasterForm" (submit)="submit()">
                        <br>
                        <mat-form-field class="form-field">
                            <label> Group Name </label>
                            <input matInput>
                            <ng-select formControlName="GrpName" [(ngModel)]="Edit_Group_Name"
                                placeholder="select Group name" ngSelectMat appendTo="body" bindLabel="groupname"
                                [items]="getGroupId">

                            </ng-select>
                            <mat-error *ngIf="GrpName?.hasError('required')">
                                GeneralmasterForm is required
                            </mat-error>
                        </mat-form-field> &nbsp;
                        <br>
                        <mat-form-field class="form-field" appearance="outline">
                            <mat-label> Name
                            </mat-label>
                            <input matInput formControlName="Name" [(ngModel)]="Edit_Name" required>
                            <mat-error
                                *ngIf="GeneralmasterForm.controls['Name'].touched && GeneralmasterForm.controls['Name'].invalid">
                                <span *ngIf="GeneralmasterForm.controls['Name'].errors">This field is mandatory.</span>
                            </mat-error>
                        </mat-form-field> &nbsp; &nbsp;
                        <mat-form-field class="form-field" appearance="outline">
                            <mat-label> Parent Id
                            </mat-label>
                            <input matInput formControlName="ParantId" [(ngModel)]="Edit_Parent_id" required>
                            <mat-error
                                *ngIf="GeneralmasterForm.controls['ParantId'].touched && GeneralmasterForm.controls['ParantId'].invalid">
                                <span *ngIf="GeneralmasterForm.controls['ParantId'].errors">This field is
                                    mandatory.</span>
                            </mat-error>
                        </mat-form-field>
                        <br>
                        <mat-form-field fxFlex="0 0 calc(85%-15px)" fxFlex.sm="0 0 100%" fxFlex.xs="0 0 100%"
                            appearance="fill" appearance="standard">
                            <mat-label class="filter">Filter</mat-label>
                            <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input>
                        </mat-form-field>
                        <button type="button" class="btn btn-success" tooltip="Save"
                            (click)="onUpdate()">Update</button>&nbsp;
                        <button type="button" class="btn btn-primary" tooltip="Cancel"
                            (click)=" OnBackToCreate()">Back</button>
                    </form>
                </div>
            </mat-card>
        </div>
    </div>
    <div class="container">

        <div class="row ms-1">
            <div class="" fxLayout.xl="column wrap" fxLayout.lg="column" fxLayout.sm="column" fxLayout.xs="column"
                fxLayoutGap="20px" fxLayoutGap.sm="0" fxLayoutGap.xs="0" class="table-responsive example-container">

                <table class="table" mat-table fxFlex [dataSource]="dataSource" matSort class="mat-elevation-z0">

                    <ng-container matColumnDef="Id">
                        <th mat-header-cell class="mat-header-cell" *matHeaderCellDef mat-sort-header>Id </th>
                        <td mat-cell class="mat-cell" *matCellDef="let row">
                            <span>{{row.id}} </span>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="Group Name">
                        <th mat-header-cell class="mat-header-cell" *matHeaderCellDef mat-sort-header>Group Name </th>
                        <td mat-cell class="mat-cell" *matCellDef="let row">
                            <span>{{row.groupname}} </span>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="Name">
                        <th mat-header-cell class="mat-header-cell" *matHeaderCellDef mat-sort-header> Name </th>
                        <td mat-cell class="mat-cell" *matCellDef="let row">
                            <span>{{row.name}} </span>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="Type Id">
                        <th mat-header-cell class="mat-header-cell" *matHeaderCellDef mat-sort-header> Type Id
                        </th>
                        <td mat-cell class="mat-cell" *matCellDef="let row">
                            <span>{{row.typeid}} </span>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="Seq Order">
                        <th mat-header-cell class="mat-header-cell" *matHeaderCellDef mat-sort-header> Seq Order
                        </th>
                        <td mat-cell class="mat-cell" *matCellDef="let row">
                            <span>{{row.seqorder}} </span>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="Parent Id">
                        <th mat-header-cell class="mat-header-cell" *matHeaderCellDef mat-sort-header> Parent Id
                        </th>
                        <td mat-cell class="mat-cell" *matCellDef="let row">
                            <span>{{row.parentid}} </span>
                        </td>
                    </ng-container>


                    <ng-container matColumnDef="Action">
                        <th mat-header-cell class="mat-header-cell" *matHeaderCellDef mat-sort-header> Action </th>
                        <td mat-cell class="mat-cell" *matCellDef="let row">
                            <button type="button" class="btn btn-action" data-target="#updateModal" tooltip="Export"
                                (click)="onEditById(row.id)">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
            </div>
        </div>
    </div>
</div>
<div class="modal fade show" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body" *ngFor="let result of tableData; index as i">
                <form #updateForm="ngForm" [formGroup]="GeneralmasterForm">

                    <div class="form-group col-md-3">
                        <div class="custom-input-wrapper">
                            <label for="GrpName">Group Name</label>
                            <input type="text" class="form-control" [(ngModel)]="Edit_Group_Name"
                                placeholder="Enter Group Name" formControlName="GrpName">
                            <span *ngIf="GrpName && GrpName.invalid && GrpName.touched"
                                style="color: rgb(226, 38, 63);">Please, Enter a Valid Batch Name</span>
                        </div>
                    </div>

                    <div class="form-group col-md-3">
                        <div class="custom-input-wrapper">
                            <label for="Name">Name</label>
                            <input type="text" class="form-control" [(ngModel)]="generalUpdate.Name"
                                placeholder="Enter Group Name" formControlName="Name">
                            <span *ngIf="Name && Name.invalid && Name.touched" style="color: rgb(226, 38, 63);">Please,
                                Enter a Valid Batch Name</span>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)=" OnBack()">Close</button>
                <button type="update" class="btn btn-primary" data-dismiss="modal" (click)=" onUpdate()">Update
                    Task</button>
            </div>
        </div>
    </div>
</div> -->