<c-row>
<p-toolbar styleClass="mb-4 gap-2">
    <div class="flex justify-content-center flex-wrap mb-3">
      
            <div *ngIf="this.projectFlag == 0">
                <p-dropdown [options]="member" [(ngModel)]="selectedMem"  class="mx-3" 
                    (onChange)="ChangeMember(selectedMem)">
                </p-dropdown>
            </div>
      
       
        <div *ngIf="this.projectFlag == 1">
            <div *ngIf="selectedMem == 'Only Me'">
                <div class="field-checkbox">
                        <p-checkbox  [(ngModel)]="checked" [binary]="true" inputId="binary"
                        (click)="RAUsers()"></p-checkbox>
                        <label for="binary">RA Wise</label>
                </div> 
            </div>
         
            <div *ngIf="!checked" >
                <!-- this.applicant.country = 'India'; -->
                <p-dropdown  [options]="member" [(ngModel)]="selectedMem"  class="mx-3" 
                        (onChange)="ChangeMember(selectedMem)">
                </p-dropdown>
               
            </div>
            
            <!-- {{!checked}}{{selectedMem}} -->
            <div *ngIf="!checked" >
                <div *ngIf="selectedMem == 'Team'">
                    <p-dropdown  [options]="ProjectNames" [(ngModel)]="selectedProject" value="projectid" optionLabel="projectname"
                        [filter]="true" required name="projectname" (onChange)="GetTaskNameByProject(selectedProject)"
                        filterBy="projectname" [showClear]="true" placeholder="Project Name" class="borderNone">
                        <ng-template pTemplate="selectedItem">
                            <div class="country-item country-item-value" *ngIf="selectedProject">
                                <div pTooltip="Project Name" tooltipPosition="top">{{selectedProject?.projectname | slice:0:12}}
                                </div>
                            </div>  
                        </ng-template>
                    </p-dropdown>

                    <p-dropdown  pTooltip="User Name" tooltipPosition="top" [options]="UserData" [(ngModel)]="selectedUserByProject" value="userid" optionLabel="name"
                        [filter]="true"  required name="username" (onChange)="GetUserid(selectedUserByProject)"
                        filterBy="username" [showClear]="true" placeholder="User Name" class="borderNone">
                        <!-- <ng-template pTemplate="selectedItem">
                            <div class="country-item country-item-value" *ngIf="selectedUserByProject">
                                <div pTooltip="User Name" tooltipPosition="top">{{selectedUserByProject?.username | slice:0:12}}
                                </div>
                            </div>  
                        </ng-template> -->
                    </p-dropdown>
                    
                </div>
            </div>
      
        <div *ngIf="checked">
            <!-- <c-col sm="12" md="6" lg="6" class="mb-3"> -->
            <!-- <label class="pb-2">Resource Name</label> -->
            <p-dropdown  [options]="RAFilterData" [(ngModel)]="selectedUser" value="userid" 
                optionLabel="username"
                [filter]="true" required name="username" (onChange)="GetUserid(selectedUser)"
                filterBy="username" [showClear]="true" placeholder="Resource Name" class="borderNone">
                <ng-template pTemplate="selectedItem">
                    <div class="country-item country-item-value" *ngIf="selectedUser">
                        <div pTooltip="User Name" tooltipPosition="top">{{selectedUser?.username | slice:0:12}}
                        </div>
                    </div>  
                </ng-template>
            </p-dropdown>
            <!-- </c-col> -->
        </div>

            <!-- <p-dropdown *ngIf="selectedMem == 'Team' " [options]="values" [(ngModel)]="selectedValue"
                optionLabel="name" [filter]="true" filterBy="name" [showClear]="true" placeholder="Select Team List">
                <ng-template pTemplate="selectedItem">
                    <div class="country-item country-item-value" *ngIf="selectedValue">
                        <div>{{selectedValue.name}}</div>
                    </div>
                </ng-template>
                <ng-template let-value pTemplate="item">
                    <div class="country-item">
                        <div>{{value.name}}</div>
                    </div>
                </ng-template>
            </p-dropdown> -->
           
        </div>
    </div>
</p-toolbar>
</c-row>

<c-row class="mt-4">
    <c-col sm="12" md="12" lg="12" xl="5" class="py-2">
        <!-- handleDateClick -->
        <!-- (click)="eventClick($event)" -->
        <!-- dateClick="dateClick($event)"  -->
        <!-- onDateClick="onDateClick" -->
        <full-calendar deepChangeDetection="true" class="max-w-30rem" [options]="calendarOptions"
            onDateClick="handleDateClick($event)">
        </full-calendar>
    </c-col>


    <c-col sm="12" md="12" lg="12" xl="7" class="mb-3 py-2">
        <h5 class="text-right">{{TaskDt | date:'dd-MM-YYYY' }}</h5>
        <div *ngIf="taskDate" class="mt24 border ">
            <p-scrollPanel [style]="{width: '100%', height: '300px'}" styleClass="custombar1">
                <!-- <h5 class="text-right">22-12-2222</h5> -->
                <!-- <h5 class="text-right">22-12-2222</h5> -->
                <c-row class="border-bottom pt-2 px-3" *ngFor="let item of taskDate">
                    <p-scrollPanel [style]="{width: '100%', height: '100px'}">
                        <div class="flex justify-content-between">
                            <span class="font-bold">{{item.projname}}</span>
                            <span class="font-bold" class="mr-4">{{item.timeinhours}}:{{item.timeinminutes}}</span>
                        </div>
                        <p class="mb-0">TaskName : {{item.taskname}}</p>
                        <p class="">Description  : {{item.description}}</p>
                    </p-scrollPanel>

                </c-row>
                <!-- <c-row class="border pt-2">
                <div class="flex justify-content-between">
                    <span class="font-bold">Newel Planner</span>
                    <span class="font-bold">6</span>
                </div>

                <p class="mb-0">Dashboaard Menu by roleid and timesheet edit in primng UI</p>
                <p class="">New Laeve rquest make it completed from bhushan..validation needed to be done</p>
            </c-row> -->
            </p-scrollPanel>

        </div>
    </c-col>

    <c-col sm="12" class="my-3">
        <!-- <app-task-accordion></app-task-accordion> -->
    </c-col>
</c-row>