<c-row>
    <div class="flex justify-content-center flex-wrap mb-3">

        <p-dropdown [options]="ProjectNames" [(ngModel)]="selectedProject" value="projectid" optionLabel="projectname"
            [filter]="true" required name="projectname" (onChange)="GetTaskNameByProject(selectedProject)"
            filterBy="projectname" [showClear]="true" placeholder="Project Name" class="borderNone">
            <ng-template pTemplate="selectedItem">
                <div class="country-item country-item-value" *ngIf="selectedProject">
                    <div pTooltip="Project Name" tooltipPosition="top">{{selectedProject?.projectname | slice:0:12}}
                    </div>
                </div>
            </ng-template>
            <!-- <ng-template let-ProjectName pTemplate="item">
          <div class="country-item">
            <div>{{ProjectName.projectname + ' ' + ProjectName.projectid }}</div>
          </div>
        </ng-template>
        -->
        </p-dropdown>

        <p-dropdown [options]="member" [(ngModel)]="selectedMem" placeholder="Select" class="mx-3">
        </p-dropdown>

        <p-dropdown *ngIf="selectedMem == 'Team' " [options]="countries" [(ngModel)]="selectedCountry"
            optionLabel="name" [filter]="true" filterBy="name" [showClear]="true" placeholder="Select Team List">
            <ng-template pTemplate="selectedItem">
                <div class="country-item country-item-value" *ngIf="selectedCountry">
                    <div>{{selectedCountry.name}}</div>
                </div>
            </ng-template>
            <ng-template let-country pTemplate="item">
                <div class="country-item">
                    <div>{{country.name}}</div>
                </div>
            </ng-template>
        </p-dropdown>
    </div>
</c-row>

<c-row class="mt-4">
    <c-col sm="12" md="12" lg="12" xl="5" class="py-2">
        <full-calendar deepChangeDetection="true" class="max-w-30rem" [options]="calendarOptions">
        </full-calendar>
    </c-col>

    <c-col sm="12" md="12" lg="12" xl="7" class="mb-3 py-2">
        <div class="mt-4">
            <h5 class="text-right">22-12-2222</h5>
            <c-row class="border pt-2">
                <div class="flex justify-content-between">
                    <span class="font-bold">Newel Planner</span>
                    <span class="font-bold">6</span>
                </div>

                <p class="mb-0">Dashboaard Menu by roleid and timesheet edit in primng UI</p>
                <p class="">New Laeve rquest make it completed from bhushan..validation needed to be done</p>
            </c-row>

        </div>
    </c-col>

    <c-col sm="12" class="my-3">
        <app-task-accordion></app-task-accordion>
    </c-col>
</c-row>