    <c-row>
    <div class="flex justify-content-center flex-wrap mb-3">
        <div *ngIf="this.projectFlag == 1">
            <p-dropdown [options]="ProjectNames" [(ngModel)]="selectedProject" value="projectid" optionLabel="projectname"
                [filter]="true" required name="projectname" (onChange)="GetTaskNameByProject(selectedProject)"
                filterBy="projectname" [showClear]="true" placeholder="Project Name" class="borderNone">
                <ng-template pTemplate="selectedItem">
                    <div class="country-item country-item-value" *ngIf="selectedProject">
                        <div pTooltip="Project Name" tooltipPosition="top">{{selectedProject?.projectname | slice:0:12}}
                        </div>
                    </div>  
                </ng-template>
                
            </p-dropdown>
        </div>

        <p-dropdown [options]="member" [(ngModel)]="selectedMem" placeholder="Select" class="mx-3"
            (onChange)="GetTimesheetData($event.value)">
        </p-dropdown>

        <p-dropdown *ngIf="selectedMem == 'Team' " [options]="values" [(ngModel)]="selectedValue"
            optionLabel="name" [filter]="true" filterBy="name" [showClear]="true" placeholder="Select Team List">
            <ng-template pTemplate="selectedItem">
                <div class="country-item country-item-value" *ngIf="selectedValue">
                    <div>{{selectedValue.name}}</div>
                </div>
            </ng-template>
            <ng-template let-value pTemplate="item">
                <div class="country-item">
                    <div>{{value.name}}</div>
                </div>
            </ng-template>
        </p-dropdown>
    </div>
</c-row>

<c-row class="mt-4">
    <c-col sm="12" md="12" lg="12" xl="5" class="py-2">
        <!-- handleDateClick -->
        <!-- (click)="eventClick($event)" -->
        <!-- dateClick="dateClick($event)"  -->
        <!-- onDateClick="onDateClick" -->
        <full-calendar deepChangeDetection="true" class="max-w-30rem" [options]="calendarOptions"
            onDateClick="handleDateClick($event)">
        </full-calendar>
    </c-col>


    <c-col sm="12" md="12" lg="12" xl="7" class="mb-3 py-2">
        <h5 class="text-right">{{TaskDt | date:'dd-MM-YYYY' }}</h5>
        <div *ngIf="taskDate" class="mt24 border ">
            <p-scrollPanel [style]="{width: '100%', height: '300px'}" styleClass="custombar1">
                <!-- <h5 class="text-right">22-12-2222</h5> -->
                <!-- <h5 class="text-right">22-12-2222</h5> -->
                <c-row class="border-bottom pt-2 px-3" *ngFor="let item of taskDate">
                    <p-scrollPanel [style]="{width: '100%', height: '100px'}">
                        <div class="flex justify-content-between">
                            <span class="font-bold">{{item.projname}}</span>
                            <span class="font-bold" class="mr-4">{{item.timeinhours}}:{{item.timeinminutes}}</span>
                        </div>
                        <p class="mb-0">TaskName : {{item.taskname}}</p>
                        <p class="">Description  : {{item.description}}</p>
                    </p-scrollPanel>

                </c-row>
                <!-- <c-row class="border pt-2">
                <div class="flex justify-content-between">
                    <span class="font-bold">Newel Planner</span>
                    <span class="font-bold">6</span>
                </div>

                <p class="mb-0">Dashboaard Menu by roleid and timesheet edit in primng UI</p>
                <p class="">New Laeve rquest make it completed from bhushan..validation needed to be done</p>
            </c-row> -->
            </p-scrollPanel>

        </div>
    </c-col>

    <c-col sm="12" class="my-3">
        <!-- <app-task-accordion></app-task-accordion> -->
    </c-col>
</c-row>