<div class="card">
  <c-row>
    <c-col sm="12" class="mb-3">

      <!-- <h5>Programmatic</h5> -->

      <p-tabView [(activeIndex)]="activeIndex1">
        <p-tabPanel header="Timesheet">

          <app-timesheet-dashboard></app-timesheet-dashboard>

        </p-tabPanel>

        <p-tabPanel header="Task">
          <div class="flex justify-content-center flex-wrap">
            <form [formGroup]="ProjectForm" (submit)="submit()">
              <p-dropdown class="dropdown" [options]="projectnames" optionLabel="projectname" optionValue="projectid"
                [filter]="true" filterBy="name" [showClear]="true" placeholder="Select a Project"
                formControlName="projectname" (onChange)="ShowDetails($event.value)">
              </p-dropdown>
            </form>
          </div>
<!-- Ashlesha -->
          <form [formGroup]="ProjectForm" (submit)="submit()">
          <p-dialog [(visible)]="NewTaskDialog" [breakpoints]="{'960px': '75vw'}"
          [style]="{width: '70vw'}" [draggable]="false" [resizable]="false" class="pb-2">
          <!-- <form  #ProjectForm="ngForm" (ngSubmit)="tasksubmit(ProjectForm.valid) ;ProjectForm.resetForm(); "> -->


            <c-row class="">
                <c-col sm="12" md="4" lg="4" class="mb-3">
                  <p-dropdown  [options]="projectnames" [style]="{'minWidth':'100%'}" optionLabel="projectname"
                  optionValue="projectid" [filter]="true" name="projectname"
                  filterBy="projectname" [showClear]="true" placeholder="Select a Project"
                  formControlName="pname" [readonly]="true" [disabled]="true" >
                  </p-dropdown>
                </c-col>

                

                <c-col sm="12" md="4" lg="4" class="mb-3">
                  <input type="text" class="w-full" placeholder="Task Name*" pInputText name="taskname"
                  [style]="{'minWidth':'100%'}"
                  formControlName="taskname" [readonly]="true" [disabled]="true">
                </c-col>

                <c-col sm="12" md="4" lg="4" class="mb-3">
                    <p-dropdown [options]="filterdata" [style]="{'minWidth':'100%'}" optionLabel="tasktype_name" [filter]="true"
                        filterBy="tasktype_name" [showClear]="true" value="tasktypeid" placeholder="Task Type*" class="" 
                        name="tasktype_name"  formControlName="taskType" [readonly]="true"
                          optionValue="tasktypeid" [disabled]="true">
                    </p-dropdown>
                </c-col>

                <c-col sm="12" md="4" lg="4" class="mb-3">
                  <p-dropdown [options]="filterdata" [style]="{'minWidth':'100%'}" optionLabel="assignee_name" [filter]="true"
                      filterBy="assignee_name" [showClear]="true" value="assignee_id" 
                      formControlName="assigneeName"  placeholder="Assignee Name*" class=""
                        optionValue="assignee_id" name="assignee_name" [readonly]="true"
                        [disabled]="true">
                        
                  </p-dropdown>
              </c-col>
                

            <c-col sm="12" md="4" lg="4" class="mb-3">
              <input type="text" class="w-full" placeholder="Task Status*" pInputText name="taskStatus"
              [style]="{'minWidth':'100%','minHeight':'10%'}"
              formControlName="taskStatus" [readonly]="true" [disabled]="true">
            </c-col>


              <c-col sm="12" md="4" lg="4" class="mb-3">
                <p-dropdown [options]="ProjectStates" [style]="{'minWidth':'100%'}" optionValue="typeid"
                    optionLabel="name" [filter]="true" filterBy="name" [showClear]="true" value="typeid"
                    placeholder="New Status*" (onChange)="GetAllProjectStatus($event.value)"
                    formControlName="PrjStatus">
                </p-dropdown>
            </c-col>

            
            
                <c-col sm="12" md="4" lg="4" class="mb-3">
                    <input type="number" class="w-full" placeholder="Efforts In Hrs*" pInputText name="efforts"
                    [style]="{'minWidth':'100%'}"
                    formControlName="efforts" [readonly]="true" [disabled]="true">
                </c-col>

                <c-col sm="12" md="4" lg="4" class="mb-3">
                    <p-calendar [style]="{'minWidth':'100%'}" [showIcon]="true" appendTo="body" placeholder="Start Date"
                        inputId="icon"  name="startdate" formControlName="startDate" [readonlyInput]="true"
                        [readonlyInput]="true" [disabled]="true"></p-calendar>
                </c-col>

                <c-col sm="12" md="4" lg="4" class="mb-3">
                    <p-calendar [style]="{'minWidth':'100%'}" [showIcon]="true" appendTo="body" placeholder="End Date"
                        inputId="icon" name="enddate" formControlName="endDate" [readonlyInput]="true"
                          [readonlyInput]="true" [disabled]="true">
                      </p-calendar>
                </c-col>

                
                
                <c-col sm="12" md="4" lg="4" class="mb-3">
                  <input type="text" class="w-full" placeholder="Comments*" pInputText name="comments"
                  [style]="{'minWidth':'150%'}"
                  formControlName="Comments"  required />
                </c-col>
              

            </c-row>
            <p-button *ngIf="showSaveBtn" type="submit" (click)="SubmitNewTask()"
            label="Save" styleClass="p-button-warning px-3 py-2"></p-button>

            <p-button *ngIf="!showSaveBtn" type="submit"  (click)="UpdateTask()"
            label="Submit" styleClass="p-button-warning px-3 py-2"></p-button>

            <p-button (click)="NewTaskDialog=false" label="Back" styleClass="p-button-text pb-2"></p-button>
          <!-- </form> -->

          </p-dialog>
          </form>
<!-- ashelesha -->

            
          <c-row class="grid mt-4">
            <c-col sm="12" xl="6" xxl="3">
              <div class="bg-green-400 font-bold text-gray-900 py-2 text-center mb-2 text-white">Completed
                {{totalcompleted}}
              </div>
              <p-scrollPanel [style]="{width: '100%', height: '420px'}" styleClass="custombar1">
                <div class="mb-1">

                  <c-row *ngFor="let item of completedTask" class="mb-2 px-2 border-bottom"
                   (click)="EditTaskDetails(completedTask)">
                    <span class="">{{item.taskname}}</span>
                    <div class="flex justify-content-between">
                      <span class="">{{item.assignee_name}}</span>
                      <span class="">{{item.enddate | date:'dd-MMM-yyyy'}}</span>
                    </div>
                  </c-row>

                  <!-- <p-table [value]="completedTask" styleClass="p-datatable-sm" [tableStyle]="{'min-width': '50rem'}">

                    <ng-template pTemplate="body" let-completedTask>

                      <tr>
                        <td>{{completedTask.taskname}}</td>
                        <td>{{completedTask.assignee_name}}</td>
                        <td>{{completedTask.enddate | date:'dd-MMM-yyyy'}}</td>
                      </tr>

                    </ng-template>
                  </p-table> -->
                </div>
              </p-scrollPanel>
            </c-col>
            <c-col sm="12" xl="6" xxl="3">
              <div class="bg-yellow-400 font-bold text-gray-900 py-2 text-center mb-2 text-white">In Progress
                {{totalProgess}}
              </div>
              <p-scrollPanel [style]="{width: '100%', height: '420px'}" styleClass="custombar1">
                <div class="mb-1">
                  <c-row *ngFor="let item of progressTask" class="mb-2 px-2 border-bottom"
                  (click)="EditTaskDetails(progressTask)">
                    <span class="">{{item.taskname}}</span>
                    <div class="flex justify-content-between">
                      <span class="">{{item.assignee_name}}</span>
                      <span class="">{{item.enddate | date:'dd-MMM-yyyy'}}</span>
                    </div>
                  </c-row>

                  <!-- <p-table [value]="progressTask" dataKey="id" editMode="row" [tableStyle]="{'min-width': '50rem'}">

                    <ng-template pTemplate="body" let-progressTask>
                      <tr>

                        <td>{{progressTask.taskname}}</td>
                        <td>{{progressTask.assignee_name}}</td>
                        <td>{{progressTask.enddate | date:'dd-MMM-yyyy'}}</td>

                      </tr>
                    </ng-template>
                  </p-table> -->
                </div>

              </p-scrollPanel>
            </c-col>
            <c-col sm="12" xl="6" xxl="3">
              <div class="bg-red-400 font-bold text-gray-900 py-2 text-center mb-2 text-white"> Not Started
                {{totalNotstarted}}
              </div>
              <p-scrollPanel [style]="{width: '100%', height: '420px'}" styleClass="custombar1">
                <div class="mb-1">
                  <c-row *ngFor="let item of notstartedTask" class="mb-2 px-2 border-bottom"
                  (click)="EditTaskDetails(notstartedTask)">
                    <span class="">{{item.taskname}}</span>
                    <div class="flex justify-content-between">
                      <span class="">{{item.assignee_name}}</span>
                      <span class="">{{item.enddate | date:'dd-MMM-yyyy'}}</span>
                    </div>
                  </c-row>
                  <!-- <p-table [value]="notstartedTask" dataKey="id" editMode="row" [tableStyle]="{'min-width': '50rem'}">

                    <ng-template pTemplate="body" let-notstartedTask>
                      <tr>

                        <td>{{notstartedTask.taskname}}</td>
                        <td>{{notstartedTask.assignee_name}}</td>
                        <ng-template>
                          <td>{{notstartedTask.enddate|date:'DD-MM-YYYY'}}</td>
                        </ng-template>

                      </tr>
                    </ng-template>
                  </p-table> -->
                </div>

              </p-scrollPanel>
            </c-col>
            <c-col sm="12" xl="6" xxl="3">
              <div class="bg-blue-400 font-bold text-gray-900 py-2 text-center mb-2 text-white">Total
                {{totalTask}}
              </div>
              <p-scrollPanel [style]="{width: '100%', height: '420px'}" styleClass="custombar1">
                <div class="mb-1">
                  <c-row *ngFor="let item of allTask" class="mb-2 px-2 border-bottom"
                  (click)="EditTaskDetails(allTask)">
                    <span class="">{{item.taskname}}</span>
                    <div class="flex justify-content-between">
                      <span class="">{{item.assignee_name}}</span>
                      <span class="">{{item.enddate | date:'dd-MMM-yyyy'}}</span>
                    </div>
                  </c-row>
                  <!-- <p-table [value]="allTask" dataKey="id" editMode="row" [tableStyle]="{'min-width': '50rem'}">

                    <ng-template pTemplate="body" let-allTask>
                      <tr>

                        <td>{{allTask.taskname}}</td>
                        <td>{{allTask.assignee_name}}</td>
                        <td>{{allTask.enddate | date:'dd-MMM-yyyy'}}</td>

                      </tr>
                    </ng-template>
                  </p-table> -->
                </div>
              </p-scrollPanel>
            </c-col>
          </c-row>


        </p-tabPanel>

      </p-tabView>

    </c-col>
  </c-row>

</div>