<p-toast></p-toast>
<p-toolbar styleClass="mb-4 gap-2">
  <ng-template pTemplate="left">
      <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
              placeholder="Search..." />
      </span>

  </ng-template>

  <ng-template pTemplate="right">
      <p-button (click)="showCreateNewProjectDialog()" icon="pi pi-plus" label="User"
          styleClass="p-button-warning px-3 py-2 mb-md-1">
      </p-button>
  </ng-template>
</p-toolbar>
<c-card class="mb-4">
  <c-card-header>User Master</c-card-header>
  <c-card-body class="px-3">

      <div class="card">
          <p-table #dt [value]="AllUserData" [rows]="10" [paginator]="true"
              [globalFilterFields]="['name','Defaultroleid','emailid',]"
              dataKey="id" editMode="row" [tableStyle]="{'min-width': '50rem'}" [rowHover]="true"
              currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
              [showCurrentPageReport]="true">
              <ng-template pTemplate="header">
                  <tr>
                      <th style="width:2rem !important"> Name
                      </th>
                      <th> Default Role
                      </th>
                      <th>Email Id
                      </th>
                      
                      <th style="width:2rem !important">Action</th>
                  </tr>
                  
              </ng-template>
              <ng-template pTemplate="body" let-AllUserData let-editing="editing" let-ri="rowIndex">
                  <tr [pEditableRow]="AllUserData">
                      <td>
                          {{AllUserData.uname }}
                      </td>
                      <td>
                          {{AllUserData.name}}
                      </td>
                      <td>
                          {{AllUserData.emailid}}
                      </td>
                      
                      <td>
                          <div class="flex align-items-center justify-content-center gap-2">
                              <button pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                                  (click)="EditEmployee(AllUserData)"
                                  class="p-button-rounded p-button-text"></button>
                          </div>
                      </td>
                  </tr>
              </ng-template>
          </p-table>
      </div>

  </c-card-body>
</c-card>

<!-- <div>form for creat user</div> -->
<p-dialog header="User Master" [(visible)]="projectDialog" [breakpoints]="{'960px': '75vw'}" (onHide)="Cancel_form()"
    [style]="{width: '70vw'}" [draggable]="false" [resizable]="false" class="pb-2"  [modal]="true">
    <form [formGroup]="ProjectForm" (submit)="submit()">
        <c-row class="">
            <c-col sm="12" md="4" lg="4" class="mb-3">
              <label>First Name</label>
                <input type="text" class="w-full" placeholder="First Name*" pInputText required
                    formControlName="first_name" />
                <small *ngIf="ProjectForm.controls['first_name'].touched && ProjectForm.controls['first_name'].invalid"
                    class="p-error block">
                    <span *ngIf="ProjectForm.controls['first_name'].errors">This field is mandatory.</span>
                </small>
            </c-col>

            <c-col sm="12" md="4" lg="4" class="mb-3">
              <label>Last Name</label>
              <input type="text" class="w-full" placeholder="Last Name*" pInputText required
                  formControlName="last_name" />
              <small *ngIf="ProjectForm.controls['last_name'].touched && ProjectForm.controls['last_name'].invalid"
                  class="p-error block">
                  <span *ngIf="ProjectForm.controls['last_name'].errors">This field is mandatory.</span>
              </small>
          </c-col>
            
            
            
            <c-col sm="12" md="4" lg="4" class="mb-3">
              <label>EmailId</label>
                <input type="email" class="w-full"  placeholder="Ex. abc@newel.com" pInputText required
                    formControlName="emailid" />
                <small
                    *ngIf="ProjectForm.controls['emailid'].touched && ProjectForm.controls['emailid'].invalid"
                    class="p-error block">
                    <span *ngIf="ProjectForm.controls['emailid'].errors">This field is mandatory.</span>
                </small>
            </c-col>

            <c-col sm="12" md="4" lg="4" class="mb-3">
              <label>User Name</label>
              <input type="text" class="w-full" placeholder="User Name*" pInputText required
                  formControlName="name" />
              <small *ngIf="ProjectForm.controls['name'].touched && ProjectForm.controls['name'].invalid"
                  class="p-error block">
                  <span *ngIf="ProjectForm.controls['name'].errors">This field is mandatory.</span>
              </small>
          </c-col>

            <c-col sm="12" md="4" lg="4" class="mb-3">
              <label>Password</label>
              <input type="password" class="w-full"  placeholder="Password" pInputText required
                  formControlName="password" />
              <small
                  *ngIf="ProjectForm.controls['password'].touched && ProjectForm.controls['password'].invalid"
                  class="p-error block">
                  <span *ngIf="ProjectForm.controls['password'].errors">This field is mandatory.</span>
              </small>
          </c-col>
            
           
            <c-col sm="12" md="4" lg="4" class="mb-3">
              <label>Role</label>
                <p-dropdown [options]="UserRole" [style]="{'minWidth':'100%'}" optionValue="typeid"
                    optionLabel="name" [filter]="true" filterBy="name" [showClear]="true" value="typeid"
                    placeholder="Role Name*" (selectionChange)="changeemployeeid($event.value)" required
                    formControlName="defaultroleid"appendTo="body">
                </p-dropdown>
            </c-col>

            <c-col sm="12" md="12" lg="12">
              <label>Status</label>
              <div class="field-radiobutton">
                  <p-radioButton value="true" formControlName="isactive" required></p-radioButton>
                  <label for="Active">Active</label>
                  <span class="px-3"></span>
                  
                  <p-radioButton value="false" formControlName="isactive" required>
                  </p-radioButton>
                  <label for="InActive">In Active</label>
              </div>
              <small class="p-error block"
                  *ngIf="ProjectForm.controls['isactive'].touched && ProjectForm.controls['isactive'].invalid">
                  <span *ngIf="ProjectForm.controls['isactive'].errors">This field is mandatory.</span>
              </small>
          </c-col>

            
            <c-col>
                <p-button *ngIf="showSaveBtn" type="submit" [disabled]="!ProjectForm.valid" (click)="submitUserDetails()"
                    label="Save" styleClass="p-button-warning px-3 py-2"></p-button>
                <p-button *ngIf="!showSaveBtn" type="submit" [disabled]="!ProjectForm.valid" (click)="UpdateUser()"
                    label="Update" styleClass="p-button-warning px-3 py-2"></p-button>
                <p-button (click)="projectDialog=false" (click)="Cancel_form()" label="Back" styleClass="p-button-text pb-2"></p-button>
            </c-col>

        </c-row>
    </form>

</p-dialog>
<!-- <div>Form Close</div> -->

<!-- <div *ngIf="isCreate==true">

  <div class="form-container">
    <mat-card class="mat-card-1">
      <mat-card-header>
        <mat-card-title>
          User Master
        </mat-card-title>
        <button class="btn-close btn-close-white" aria-label="Close" (click)="Cancel()"></button>
      </mat-card-header>
    </mat-card>

    <div class="formclass">
      <form autocomplete="off" [formGroup]="ProjectForm">

        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" required>
          <mat-error *ngIf="ProjectForm.controls['name'].touched &&ProjectForm.controls['name'].invalid">
            <span *ngIf="ProjectForm.controls['name'].errors">This field is mandatory.</span>
          </mat-error>
        </mat-form-field>&nbsp;&nbsp;

        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="emailid" required placeholder="Ex. abc@newel.com" required>

          <mat-error *ngIf="ProjectForm.hasError('emailid') && !ProjectForm.hasError('required')">
            Please enter a valid email address
            <span *ngIf="ProjectForm.controls['emailid'].errors">This field is mandatory.</span>
          </mat-error>

        </mat-form-field>

        <br />
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Password
          </mat-label>
          <input matInput type="password" formControlName="password" required>
          <mat-error *ngIf="ProjectForm.controls['password'].touched &&ProjectForm.controls['password'].invalid">
            <span *ngIf="ProjectForm.controls['password'].errors">This field is mandatory.</span>
          </mat-error>
        </mat-form-field>&nbsp;&nbsp;

        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Role Name</mat-label>
          <mat-select disableRipple placeholder="Role Name*" formControlName="defaultroleid"
            (selectionChange)="changeemployeeid($event.value)" required>
            <mat-option *ngFor="let Role of UserData" [value]="Role.typeid">
              {{Role.name}}

            </mat-option>
          </mat-select>
        </mat-form-field>

        <br />
        <mat-radio-group aria-label="Select an option" formControlName="isactive" required class="margin-left">
          <mat-radio-button value="true">Active</mat-radio-button>
          <mat-radio-button value="false">In Active</mat-radio-button>
        </mat-radio-group>
        <br>
        <br>
        <button mat-raised-button type="submit" color="primary" [disabled]="!ProjectForm.valid"
          (click)="submit()">Save</button>&nbsp;&nbsp;
        <button mat-raised-button type="submit" color="primary" (click)=" OnBack()">Back</button>

      </form>
    </div>
  </div>
</div>


<div *ngIf="isEditable==true">
  <div class="form-container">
    <mat-card class="mat-card-1">
      <mat-card-header>
        <mat-card-title>
          User Master
        </mat-card-title>
        <button class="btn-close btn-close-white" aria-label="Close" (click)="Cancel()"></button>
      </mat-card-header>
    </mat-card>
    <div class="formclass">
      <form autocomplete="off" [formGroup]="ProjectForm">

        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" required>
          <mat-error *ngIf="ProjectForm.controls['name'].touched &&ProjectForm.controls['name'].invalid">
            <span *ngIf="ProjectForm.controls['name'].errors">This field is mandatory.</span>
          </mat-error>
        </mat-form-field>&nbsp;&nbsp;

        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="emailid" required placeholder="Ex. abc@newel.com" required>

          <mat-error *ngIf="ProjectForm.hasError('emailid') && !ProjectForm.hasError('required')">
            Please enter a valid email address
            <span *ngIf="ProjectForm.controls['emailid'].errors">This field is mandatory.</span>
          </mat-error>

        </mat-form-field>

        <br />
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Password
          </mat-label>
          <input matInput type="password" formControlName="password" required>
          <mat-error *ngIf="ProjectForm.controls['password'].touched &&ProjectForm.controls['password'].invalid">
            <span *ngIf="ProjectForm.controls['password'].errors">This field is mandatory.</span>
          </mat-error>
        </mat-form-field>&nbsp;&nbsp;

        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Role Name</mat-label>
          <mat-select disableRipple placeholder="Role Name*" formControlName="defaultroleid"
            (selectionChange)="changeemployeeid($event.value)" required>
            <mat-option *ngFor="let Role of UserData" [value]="Role.typeid">
              {{Role.name}}

            </mat-option>
          </mat-select>
        </mat-form-field>

        <br />
        <mat-radio-group aria-label="Select an option" formControlName="isactive" required class="margin-left">
          <mat-radio-button value="true">Active</mat-radio-button>
          <mat-radio-button value="false">In Active</mat-radio-button>
        </mat-radio-group>
        <br>
        <br>
        <button mat-raised-button type="submit" color="primary" (click)="UpdateUser()">Edit</button>&nbsp;&nbsp;
        <button mat-raised-button type="submit" color="primary" (click)=" OnBack()">Back</button>

      </form>

    </div>
  </div>
</div>


<div *ngIf="isViewable">


  <div class="container">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          UserDetails
        </mat-card-title>
        <button class="btn-close btn-close-white" aria-label="Close" (click)="Cancel()"></button>
      </mat-card-header>
    </mat-card>

    <mat-form-field fxFlex="0 0 calc(85%-15px)" fxFlex.sm="0 0 100%" fxFlex.xs="0 0 100%" appearance="fill"
      appearance="standard">
      <mat-label class="filter">Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input>
    </mat-form-field>
    <button mat-flat-button color="primary" class="custom-btn">
      <mat-icon mat-list-icon class="Add-New" (click)="AddForm()">add_circle</mat-icon>Create
    </button>

    <table class="table" mat-table [dataSource]="dataSource" class="mat-elevation-z0">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef [hidden]="true"> Id </th>
        <td mat-cell *matCellDef="let element" [hidden]="true"> {{element.id}} </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element"> {{element.uname}} </td>
      </ng-container>

      <ng-container matColumnDef="emailid">
        <th mat-header-cell *matHeaderCellDef>Email Id </th>
        <td mat-cell *matCellDef="let element"> {{element.emailid}} </td>
      </ng-container>

      <ng-container matColumnDef="password">
        <th mat-header-cell *matHeaderCellDef> Password </th>
        <td mat-cell *matCellDef="let element"> {{element.password}} </td>
      </ng-container>

      <ng-container matColumnDef="defaultroleid">
        <th mat-header-cell *matHeaderCellDef>Role </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>


      <ng-container matColumnDef="isactive">
        <th mat-header-cell *matHeaderCellDef> IsActive </th>
        <td mat-cell *matCellDef="let element"> {{element.isactive}} </td>
      </ng-container>


      <ng-container matColumnDef="Action">

        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" (click)="EditEmployee(element)">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
    </table>



    <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>

  </div>
</div> -->